<!-- Content Managment Menu Dropdown Structure -->
<ul id="product_dropdown" class="dropdown-content">

    {{!-- <li>
        <a href="/admin/product-category">
            <i class="material-icons">dehaze</i>หมวดหมู่สินค้า</a>
    </li> --}}

    {{!-- <li>
        <a href="/admin/products">
            <i class="material-icons">loyalty</i>สินค้า</a>
    </li> --}}


    {{!-- <li>
        <a href="/geocode">
            <i class="material-icons">edit_location</i>Geo-Location Finder</a>
    </li> --}}

</ul>


<!-- Content Managment Menu Dropdown Structure -->
<ul id="display_dropdown" class="dropdown-content">

    {{!-- <li>
        <a href="/admin/service-category">
            <i class="material-icons">dehaze</i>หมวดหมู่บริการ</a>
    </li> --}}

    <li>
        <a href="/">
            <i class="material-icons">loyalty</i>Display#1</a>
    </li>
    <li>
        <a href="http://localhost:8082/display/1">
            <i class="material-icons">loyalty</i>Display#2</a>
    </li>

</ul>


<!-- Side-Nav Menu -->
<ul class="side-nav" id="main-menu">

    {{#if user}}

    <li>
        <a href="/">
            <i class="material-icons">apps</i>
            <div class="logo">
                {{!-- <img src="/images/logo-btp.png" alt="apdl.ca"> --}}
                <b>TFOTECH</b>
            </div>


        </a>
    </li>


    <li class="divider"></li>

    <li>

        <a class="dropdown-button left-align" href="#!" data-activates="content_dropdown"><i class="material-icons right">arrow_drop_down</i>จัดการเนื้อหา

        </a>
    </li>



    <li class="divider"></li>

    <li>
        <a href="/admin/welcomes">
            <i class="material-icons">subject</i>Home</a>
    </li>



    {{!-- <li>
        <a href="/admin/about">
            <i class="material-icons">fingerprint</i>เกี่ยวกับเรา</a>
    </li> --}}

    {{!-- <li class="divider"></li>

    <li>
        <a href="/admin/contact">
            <i class="material-icons">perm_phone_msg</i>ข้อมูลติดต่อ</a>
    </li> --}}


    {{!-- <li class="divider"></li>

    <li>

        <a class="dropdown-button left-align" href="#!" data-activates="product_dropdown"> <i class="material-icons right">arrow_drop_down</i>จัดการสินค้า

        </a>
    </li> --}}

    <li class="divider"></li>

    <li>

        <a class="dropdown-button left-align" href="#!" data-activates="display_dropdown"> <i class="material-icons right">arrow_drop_down</i>Select
            Display

        </a>
    </li>


    <li class="divider"></li>
    <li>
        <a href="/admin/logout">
            <i class="material-icons">exit_to_app</i>Sign Out</a>
    </li>



    {{else}}

    <li>
        <a href="/">
            <i class="material-icons">apps</i>
            <div class="logo">

                TFO Tech (Thailand) Co.,Ltd.
            </div>


        </a>
    </li>

    <li>
        <a href="/">
            <i class="material-icons">flag</i>
            </i>Home</a>
    </li>




    {{!-- <li class="divider"></li> --}}



    {{!-- <li>
        <a href="/products">
            <i class="material-icons">loyalty</i>สินค้า</a>
    </li>

    <li class="divider"></li> --}}


    {{!-- <li>
        <a href="/services">
            <i class="material-icons">airport_shuttle</i>บริการ</a>
    </li> --}}



    {{!-- <li class="divider"></li>

    <li>
        <a href="/about">
            <i class="material-icons">fingerprint</i>
            </i>เกี่ยวกับเรา</a>
    </li>


    <li class="divider"></li>

    <li>
        <a href="/contact-us">
            <i class="material-icons">favorite</i>ติดต่อเรา</a>
    </li>

    <li class="divider"></li> --}}

    <li>
        <a href="/admin/login">
            <i class="material-icons">exit_to_app</i>Sign In</a>
    </li>

    <li class="divider"></li>





    {{/if}}





</ul>