/* #03a9f4 light-blue
#29b6f6 light-blue lighten-1
#4fc3f7 light-blue lighten-2 */

* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    /* height: 100vh; */
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
   
} 

.main-display {
    background-image: linear-gradient(to right bottom, rgba(3, 176, 244, 0.4),rgba(79, 197, 247, 0.4) ) , url(./../images/tfo-006.png);
    background-position: top;
    position: relative;
    height: 100vh;
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 35px;
}

.text-box {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-70%, -50%);
}

.header-primary {
    color: #fff;
    text-transform: uppercase;
}

.header-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 15px;
    /* padding: 40px; */
}

.header-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 10px;
    /* padding: 40px; */
}