
    <div class="contain-fluid">
        <div class="row">
            <div>
                <img src="./images/logo-red.png" alt="Logo" class="logo">
            </div>
        </div>
            
        <div class="row">
            <div class="container">
               <p>
                <h1 style="color:black; text-align: center">Welcome </h1>
                <h1 style="color:black; text-align: center">NTPT Company Limited.</h1>
                <hr>
               </p>
          
            <br>
            <p>
            <h4><span>1.設備事業部部長：　宮崎 様</span></h4>
            <h4><span> 2.本社工場工場長：　森 様</span></h4>
           <h4><span>3.静岡工場工場長：　須部 様</span></h4>
           <h4><span>4.本社工場製作課主任：　山本 様</span></h4>
            <h4><span> 5.静岡工場生産技術サブリーダー：　西本 様</span></h4>
            <h4><span>6.ＮＴＰＴ　金原様</span></h4>
            <h4><span>7.與那覇部長様</span></h4>
           <h4><span>8.石原ＡＤ様</span></h4>   
            </p>
            <br>
            
                    <div class="row">
                       <br>
                    <hr>
                       <div class="col s6 m6 l6"><h3>Meeting Room: 1</h3></div>
                        <div class="col s6 m6 l6"><h3>Floor: 1</h3></div>
                    
                    </div>
            </div>
           
        </div>
            
    </div>

         
       