<div class="contain-fluid">
    <div class="row">
        <div class="col s12 m5 l5 welcome-text">
            <div class="welcome-text" style="margin-left: 5px;margin-right: 5px;">
                <p>{{ display.title }}</p>
                <p>{{ display.subtitle }}</p>
            </div>
        </div>

        <div class="col s12 m5 l5">
            <div class="container-fluid main-display-2">
                <div class="col s12 m12 l12 ">
                    <div class="">
                        {{{ display.desc}}}
                    </div>
                    <div>
                        {{{ display.desc}}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>